@media only screen and (max-width: 600px) {
  /* Heared */

  .logo {
    width: 100px;
  }

  /* top-section */
  .btn-1 {
    display: none;
  }

  .btn-02 {
    display: none;
  }

  .c-font h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 40px;
  }

  .c-font p {
    width: 100%;
    margin: 0 auto;
  }

  .Adventure-contant {
    display: flex;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .all-h3 {
    font-size: 24px;
    font-weight: 900;
    color: #101f46;
  }
  .c-font h1 {
    font-size: 30px;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .flex-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }

  .form-contant {
    width: 100%;
    margin: 15px 10px;
  }

  #c-placeholder {
    padding: 13px 13px 13px 13px;
    background-color: #e1e1e1;
  }

  .btn-c-align {
    margin-top: 30px;
    /* padding: 15px 37px; */
  }

  .form-color {
    /* position: absolute; */
    padding-right: 2em;
    padding-left: 1em;
  }

  /* top-notch */

  .top-notch-item-p {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px !important;
    text-align: left;
  }

  .border-color-1 {
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    /* filter: brightness(0.7); */
  }

  .border-color-2 {
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 0px 20px;
    width: 100%;
  }

  .border-color-3 {
    background-image: url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 38.3vh;
  }

  .border-color-4 {
    background-image: url(../img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 38.3vh;
  }

  /* remember */

  .remember {
    background: #ffffff;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(7, 145, 190, 1) 100%
    );
    padding: 50px 0;
  }

  .video {
    /* background-color: #090d0e; */
    background-image: url(../img/img8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-position: top;
    box-shadow: 0px -7px 20px 1px rgba(0, 0, 0, 0.2);

    /* background-color: #090d0e; */
  }

  .c-bg-black {
    bottom: -10rem;
    position: absolute;
    background-color: #fff;
    padding: 30px 25px;
    box-shadow: 0px 15px 55px -15px rgba(0, 0, 0, 0.2);
  }

  .icon-1 img {
    width: 70%;
    margin: 0 auto;
  }

  .Adventure-contant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 35px;
  }
  .Mollit {
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    color: #474747c5;
    font-weight: 500;
  }

  .Experience-1 {
    background-color: #fff;
    margin: 0 20px;
    padding: 20px 30px;
    position: absolute;
    bottom: -10px;
    box-shadow: 0px 15px 55px -15px rgba(0, 0, 0, 0.2);
  }

  .img-photo-1 {
    background-image: url(..///img/img13.jpg);
    height: 35vh;
    background-size: cover;
    width: 100%;
    background-position: center;
  }
  .img-photo-2 {
    background-image: url(..///img/img14.jpg);
    height: 35vh;
    background-size: cover;
    width: 100%;
    background-position: center;
  }

  .img-photo-3 {
    background-image: url(..///img/img15.jpg);
    height: 55vh;
    background-size: cover;
    width: 100%;
    background-position: center;
  }

  .text-size-margin {
    padding-top: 6rem;
  }
  .c-Lorem-ipsum {
    font-size: 20px;
    width: 100%;
    opacity: 0.9;
  }

  .gallery {
    padding-bottom: 70px;
  }
  .dolor {
    padding-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    opacity: 0.9;
  }
  #email-1 {
    background-color: #00000000;
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    /* position: relative; */
  }
  #submit-1 {
    display: none;
    /* background-color: #f56960;
    padding: 13px 30px;
    position: absolute;
    right: 0.4rem;
    top: 21.7rem;
    color: #fff;
    font-weight: 600; */
  }

  .logo-flex-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: absolute;
    top: -70px;
    background-color: #0791be;
    padding: 30px 40px;
  }

  .special {
    padding: 0px 0;
  }
  .holiday-1 {
    font-size: 35px;
  }
  .c-Lorem-ipsum {
    font-size: 15px;
    width: 100%;
    opacity: 0.9;
    line-height: 1.1;
  }
  .dolor {
    width: 100%;
    color: #fff;
    font-size: 16px;
    opacity: 0.9;
    line-height: 1.5;
  }

  .c-border-2 {
    border-top: solid 1px rgb(234, 234, 234);
    margin-top: 10px;
  }

  .packages {
    padding-top: 0px;
    padding-bottom: 25px;
  }
  .icon-border-3 {
    border-right: solid 1px rgb(185, 185, 185);
    padding-right: 0px;
  }

  .support img {
    width: 13%;
  }

  .support {
    margin-top: 3rem;
    margin-left: 2rem;
    border-right: none;
  }

  .support-border-of {
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .LET {
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
  }

  .btn-7 {
    margin: 30px 0;
    padding: 8px 30px;
    font-weight: 600;
    background-color: #f56960;
    color: #fff;
  }

  .support-border-of img {
    width: 13%;
  }

  .footer-items {
    margin-top: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  footer {
    background-color: #383838;
    padding: 0px 0px;
  }

  .line-1 {
    background-color: #f56960;
    padding: 1px 40px;
    margin: 0 !important;
  }

  .text-size {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
    color: #f56960;
  }

  /*---------------------------------------------- About-responsive-css ------------------------------*/
  .About-us-bg {
    background: url(..//img/inner-banner.jpg) rgb(110, 110, 110);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background-position: ; */
  }

  .img-icon1 {
    background-image: url(..//img/logo7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .all-h3-size {
    font-size: 25px;
    font-weight: 900;
    color: #101f46;
  }

  .dolor-1 {
    padding-top: 5px;
    color: black;
    opacity: 0.7;
    font-size: 16px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    font-weight: 500;
  }

  .price-img {
    background-color: #0791be;
    height: 10vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-img img {
    width: 70%;
  }

  .video-5 {
    /* background-color: #090d0e; */
    background-image: url(../img/img25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-position: top;
  }

  .img-icon-flax {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .img-icon-1 {
    display: none;
  }

  .img-icon-flax {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .c-padding {
    padding-top: 6rem;
  }

  .all-h3-width h3 {
    padding-top: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    font-family: "Raleway", sans-serif;
  }

  .Mollit-3 p {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
  .gap-box {
    display: flex;
    gap: 43px;
  }
  .Satisfied {
    background-color: rgba(245, 105, 96, 0.8);
    padding: 20px 0;
  }
  .Satisfied-00 h3 {
    color: #fff;
    font-size: 33px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin: 0 auto;
  }

  .Satisfied-00 p {
    margin: 0 auto;
    color: #fff;
    text-align: end;
  }

  .Leo {
    font-family: "Edu SA Hand", cursive;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 20px 0;
    word-wrap: break-word;
  }

  .border-tb {
    position: relative;
    width: 40%;
    border: 1px solid rgb(190, 190, 190);
  }

  .border-tb-1 {
    width: 40%;
    border: 1px solid rgb(190, 190, 190);
  }

  #double-quotes {
    position: absolute;
    top: -10px;
    left: 76px;
    padding: 10px 10px;
    background-color: #fff;
  }

  .tag-links a {
    font-size: 15px;
  }
  .social-media {
    width: 100%;
    margin-top: 20px;
  }
}
